@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /*--color-background: #1e1c24;*/
  --color-background: #141414;
  --color-foreground: #f0f0f0;
  --color-foreground-muted: #9f9f9f;
  --color-accent: #9e86fd;
  --color-border: #656565;
}

html, body {
  @apply bg-neutral-950 text-foreground
}
